/*
Override du style de galerie Bxslider
*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

body .conteneur{

.bx-wrapper .bx-controls-direction a{
    z-index: 888;//pour écraser valeur donnée par défaut de 9999

}
$typedecontenu: HPDiapo;
$ULclasse:bxslider-hp;
  @each $type in $typedecontenu {
    .#{$type} {
      .bx-wrapper{
        img{

          @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
            @include adaptable-img();
          }


        }
        .bx-viewport {
          box-shadow: none;
          border: none;
          background: none;
          max-height: 60vw;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
         min-height: 25vw;
         max-height: 30vw;//Dépend de la valeur max donnée à la #zone-diaporama
         }
        @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
          //Pas besoin de réglages spécifiques
        }
        @each $classe-ul in $ULclasse {
          ul.#{$classe-ul} {
            li,img{
                margin: 0;
            }

          }
        }
      }
        .bx-caption{
          span{
          color: white;
          padding: em(5px);
          font-family: $AristaFont;
          line-height: 1em;
          @include font-size(m); //utilisation de typey
          @include breakpoint(($desktop,$desktopwide,$tablet,$tabletlandscape)) {
           line-height: 1.3em;
           @include font-size(l); //utilisation de typey
          }
        @include breakpoint(($mobilelandscape)) {}
        }
        }

      }
    }
  }
.galerie-vdl {
    .bx-wrapper{
    margin: 0 auto;
    width: 95%;
    a{

    }
    li{
        padding: 0;
    }
    .bx-viewport{
        height: auto;
    }
    .bx-pager{
        margin: 0 0.1em;
    }
}
}

.HPDiapo{
    .bx-wrapper{
        margin:em(60px) 0 em(30px); // Marge pour utiliser superfish sur mobile et HP
        //border-color: $vert;//Couleur du cadre du diapo sur Accueil - Blanc par défaut - Décommenter si besoin
        .bx-viewport {
        //Voir code haut de page
        }
        .bx-caption{
            position: fixed;
            bottom: 0;
            left: span(0.2);
            width: 80%;
            //couleur fond des captions sur image diapo
            // - utilise balise titre des images au niveau du BO
            @include backgroundRGBA($orange-fonce, 0.85);
            margin: 0 auto;
            span{//style du cartouche
              //Voir code haut  de page
            }
        }
    }
    //Voir code haut de page pour UL

}//Fin HPDiapo

#illustration-pleinepage.illustration-page-fiche-formation{
    .bx-wrapper{
            border: 0;
            margin:0;
           .bx-viewport{
            background: 0;
            border: 0;
            box-shadow: none;
            border: none;
            background: none;

            @include breakpoint(($desktop,$desktopwide)) {
              max-height: 30em;
              min-height: 78vh !important;
            }
          @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
            //Pas besoin de réglages spécifiques
          }
            img{
                margin: 0;
                padding: 0;
                /*transform: scale(0.85);*/
            }
            li{
                position: relative !important;
                margin: 0;
                padding: 0;
                max-width: 100%;
            }
        }
    }
     .bx-caption{
            display: none;
        }
}
}
