{#
/*
 * Permet de créer une region dans les node.tpl
 * <p>LA REGION EXISTE</p>
 */
IMPORTANT: respecter la casse !! le nom de la région doit être identique dans le fichier
.theme

#}
{% set noderegion_attribute = create_attribute() %}
{% set noderegion_classes = [
'region-zone-4',
'type-' ~ node.bundle|clean_class
]
%}

{% if region_Zone_4 is not empty %}
  <div {{ noderegion_attribute.addClass(noderegion_classes).setAttribute('id', 'region-zone-4') }}>
    {{ region_Zone_4 }}
  </div>
  <!-- /#region-zone_4 -->
{% endif %}