{#
/* 03/2019 Liste les fichiers uploadés par
  * filefield and linkfield  avec création d'une liste dynamique, exclusion des champs vides

  Tableau pour afficher des fichiers joints (pdf)
   sans limite de nombre.
#}

{# ---*** Les classes à appliquer aux éléments  ***--- #}
{% set champ1_attribute = create_attribute() %}
{% set champTitre_attribute = create_attribute() %}
{% set champ2_attribute = create_attribute() %}
{% set champ3_attribute = create_attribute() %}

{% set champ1_classes = [
'champ-' ~ node.field_fichier_joint_partenaires.fieldDefinition.name | replace({"_" : "-"}),
'titre-' ~ node.bundle|clean_class
]%}
{% set champTitre_classes = [
'label-' ~ node.field_fichier_joint_partenaires.fieldDefinition.name | replace({"_" : "-"}),
]%}
{% set champ2_classes = [
'label-' ~ node.field_NAME2.fieldDefinition.name | replace({"_" : "-"}),
]%}
{# ---*** Le contenu de l'include ***--- #}
{% if node.field_fichier_joint_partenaires.value is not empty %}
  <div class="bloc_docs_utiles_entreprise">

    {% if node.field_fichier_joint_partenaires.value is not empty %}
      <ul>
        <li {{ champTitre_attribute.addClass(champTitre_classes) }}>
          {{ content.field_fichier_joint_partenaires|field_label }}</li>
      </ul>

      <ul>
        {# //Parcourir le tableau field_NAME de l'objet $node pour lister le contenu clé/valeur #}
        {% for key, fichier in node.field_fichier_joint_partenaires.value %}
          {# //Ne pas afficher les champs vides du tableau #}
          {% if node.field_fichier_joint_partenaires.value is not empty %}
            <li>{{ content.field_fichier_joint_partenaires[key] }}</li>
          {% endif %}
        {% endfor %}

      </ul>
    {% endif %}
    {# // endif pour bloc doc utiles #}
  </div>
{% endif %}