// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|               FICHE BTS                     |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-fiche-bts{order:1;}
    #zone-2.type-fiche-bts{order:2;}
    #zone-3.type-fiche-bts{order:3;}
    #zone-4.type-fiche-bts{}
    #zone-5.type-fiche-bts{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.type-fiche-bts{
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;

    img{
        transform: translate(0%,0%);

    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 25vw;
        max-height: 30vw;
        img{
            transform: translate(0%,-15%);
        }
    }
}
#zone-1.type-fiche-bts{
    .complement-bts{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(4);
            margin: span(0.02) auto;
            display: block;
        }

    }
        table.infos-pratiques-bts,.info-plus-fiche-bts{

        margin: span(0.02) auto;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(7);
        }
    }
    div.liens-fiche-bts{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: span(0.1);
        }
    }
}
#zone-2.type-fiche-bts{
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        padding: span(0.1) 0;
    }
    aside.galerie{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            margin: 0 0 0 span(1.5);
            padding: span(0.1);
            display: flex;
        }
    }
    a.asymetrique-gd{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(6);
            float: left;
        }
    }
    div.asymetrique-petit{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(6);
            float: right;
        }
    }
}
#zone-3.type-fiche-bts{
    .content{
        column-count: inherit;
        @include breakpoint(($desktop,$desktopwide,$tabletlandscape)){
            column-count: 2;
            column-fill: balance;
            column-rule: em(2px) dashed $gris-anthracite;
        }
    }
    table.infos-pratiques-bts,.info-plus-fiche-bts{

        margin: span(0.02) auto;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            width: span(7);
            display: block;
        }
    }
    .liens-fiche-bts{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: span(0.1);
        }
    }
}


/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-1.type-fiche-bts,
#zone-2.type-fiche-bts,
#zone-3.type-fiche-bts,
#zone-4.type-fiche-bts,
#zone-5.type-fiche-bts
{
    p,ul,li{
      @include font-size(m); //utilisation de typey
      padding: em(5px);
      line-height: 1.5em;
      list-style-position: inside;
    }
    u {
      font-weight: bold;
      color: $violet;
    }

    h2 {
      @include font-size(l); //utilisation de typey
      color: $orange-fonce;
    }

    h3 {
      @include font-size(m); //utilisation de typey
      color: $gris-anthracite;
    }
    h4{
      @include font-size(s); //utilisation de typey
      color: $rose-fushia;
    }
    h5{
      @include font-size(xs); //utilisation de typey
      color: $bleu-turquoise;
    }
    a {
      text-decoration: none;
      color: $orange-fonce;

      &:hover {
        text-decoration: underline;
      }
    }
    em {//texte italique
      color: $orange-fonce;
    }
    strong {
      color: $violet;
    }

}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.type-fiche-bts{
    #abreviation-bts{
        color: $violet;
        float: right;
        padding: 0 em(5px);
        font-style: italic;
        text-align: right;display: block;margin: em(5px);
    }
    span.complement-bts{
            background: $gris-anthracite;
            color: $jaune;
            font-weight: bold;
            padding: span(0.02);


    }
      table.infos-pratiques-bts{

        border: em(2px) solid $gris-clair-moyen;
        @include font-size(xs);//utilisation de typey
        @include arrondis();
        border-collapse:separate;

        tbody{
          @include backgroundRGBA($gris-clair,0.5)
        }
        tr{}
        td{
            padding: em(2px);
            background: $gris-clair;
            vertical-align: top;}
        a{

            &:hover{}
        }

        td h4{
            text-align: center;
            color: $violet;
            /*text-shadow: 0px 0px em(5px) $gris-anthracite;*/
            /*filter: dropshadow(color=$gris-anthracite, offx=0, offy=0);*/

            behavior: url(/sites/all/libraries/PIE/PIE.htc);
            @include font-size(l);//utilisation de typey

        }
        ul{
            padding: 0;
            margin:0;
            li{
                list-style: square;
                list-style-position: inside;
            }
        }
        td.col1{
            background: none ;
            width: 33%;
        }
        td.col2{
            @include backgroundRGBA($gris-clair,0.5)

        }
        td.col3{
            background: none ;
        }
        td.col1 :hover{

        }
        td.col1,td.col2{
            ul{
                li{
                    list-style: none;

                }
            }
        }
        a[href*=".pdf"]{
            &::before{
                @include backgroundImage("PNG/Fichiers@3x.png");
                background-size: contain;
                content: "";
                position: relative;
                vertical-align: sub;
                padding: em(10px);
                margin:em(3px);
                transition:0.5s all;
                display: inline-block;
                transform: scale(1.1);
            }
        }
        img.filefield-icon{

            display: none;//initial
        }
        a[href*="http"] {
            &::before{
                @include backgroundImage("PNG/liens@3x.png");
                background-size: contain;
                content: "";
                position: relative;
                vertical-align: sub;
                padding: em(10px);
                margin:em(3px);
                transition:0.5s all;
            }

        }

        h3{
            background: transparent;
        }

    }
}
#zone-2.type-fiche-bts{

    .galerie{
        background: $orange-fonce;
        //Voir  "../galeries/_baguettebox-vignette-zoom.scss";
    }
}
#zone-3.type-fiche-bts{

    h3{
        transform: rotate(-1deg);
        color: $jaune;
        background: $gris-anthracite;
        padding: em(3px);
        margin: em(5px) em(20px);
        max-width: fit-content;
        /*max-width: 90%;*/
    }
    .info-plus-fiche-bts{
        background-color: $gris-clair;
        margin: 0 auto;
        padding: 0.5em;
        border-radius: 1em;
        a{
            color: $bleu-turquoise;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }

        h3{
            color: $orange-fonce;
            text-align: center;
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                margin: span(0.5) auto;
                max-width: 30%;
            }
        }
        ul{
            li{
                list-style: square;
                list-style-position: inside;
                @include font-size(xs);//utilisation de typey
            }
        }
    }
}
#zone-4.type-fiche-bts{}
#zone-5.type-fiche-bts{}
